html,body{
  height: 100%;
}

body{
  /* background-color: rgb(248, 244, 244); */
  background-color: #eec0c6;
background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);

  background-position: center;
  background-size: cover;
}

form{
  display: flex;
  align-items: center;
  flex-direction: column;
}

form *{
  padding: 10px;
  width: 500px;
  border-radius: 10px;
}

.card{
  margin: 1%;
}

h1{
  text-align: center;
  margin-top: 2%;
}

.nav{
  display: flex;
  justify-content: space-evenly;
  background-color: black;  
  padding: 10px;
}

.nav-item{
  text-decoration: none;
  color: white;
}

.loginform, .signupform{
  border-style: solid;
  border-radius: 20px;
  color: black;
  padding: 50px;
  width: 600px;
  margin-top: 15%;
  margin-left: 25%;
  text-align: center;
}
/* 
.login, .signup{
  display: flex;
  justify-content: space-between;
} */

/* #submit{
  background-color: rgb(76, 154, 245);  
} */

.info{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 100px;
  margin-top: 15%;
}

.info>h1{
  font-size: 5rem;
}

.info>h4{
  font-family: cursive;
}

.info> h5{
  margin-top: 3%;
}

.register{
  padding-top: 25%;
}

@media only screen and (max-width: 600px) {
  .info{
    margin-top: 30%;
  }
  
  .info>h1{
    font-size: 3rem;
  }
  
  .info> h5{
    margin-top: 100%;
  }
  
  .register{
    padding-top: 35%;
  }
  
}