{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <div class = "details">
    <h1>{{ post.title }}</h1>
    <p><img class="eventimage" src="{{post.image_url}}" onerror="this.onerror=null; this.src='../static/images/charity.jpeg' "alt="Card image cap"></p>
    <h3>Organized by: {{post.organizer.username}}</h3>
    <h3>Location: {{post.location}}</h3>
    <h3>Event Date: {{post.eventdate}}</h3>

    <h3>Details: {{post.text}}</h3>
    {% if post.organizer == current_user %}
      <div class = "updatedelete">
        <a class="btn btn-secondary" href="{{ url_for('event_posts.update', event_post_id=post.id) }}">Update</a>
        <br>
        <form action="{{ url_for('event_posts.delete_post', event_post_id=post.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    {% endif %}
  </div>
</div>
{% endblock content %}