{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h2 class="event">Event</h2>
    </div>
    <div class="container">
        <div class="card-group">
            <div class="row col-sm col-sm col-sm">
            {% for post in event_posts.items %}
                <div class="card" style="width: 25rem;">
                    <img class="card-img-top" src="{{post.image_url}}" onerror="this.onerror=null; this.src='../static/images/charity.jpeg' "alt="Card image cap">
                    <div class="card-body">
                        <h2 class = "eventname">
                            <a class="card-title" href="{{url_for('event_posts.event_post', event_post_id=post.id)}}">{{post.title}}</a>
                        </h2>
                        <p class="card-title">Location: {{post.location}}</p>
                    </div>
                    <div class = "rsvp">
                        <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample{{post.id}}" aria-expanded="false" aria-controls="collapseExample">
                                RSVP
                        </button>
                        <a class="btn btn-info" href="{{url_for('event_posts.event_post', event_post_id=post.id)}}">Details</a>
                    </div>
                    <div class="card-body collapse" id="collapseExample{{post.id}}">
                        <div class="card card-body">
                            🛠 Work in progress
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

    <nav aria-label="Page Navigation example">
        <ul class="pagination justify-content-center">
            {% for page_num in event_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if event_posts.page == page_num %}
                    <li class="page-item disabled">
                        <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}