{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="event">Event</h1>
    </div>
    <div class="container">
        <div class="card-group">
            <div class="row row-cols-1 row-cols-md-3">
        {% for post in event_posts.items %}
                <div class="card" style="width: 25rem;">
                    <div class="card-body">
                        <h2>
                            <a class="card-title" href="{{url_for('event_posts.event_post', event_post_id=post.id)}}">{{post.title}}</a>
                        </h2>
                        <a class="card-text" href="{{url_for('users.user_posts', username=post.organizer.username)}}">Created by: {{post.organizer.username}}</a>
                        <p>Published on: {{post.date.strftime('%Y - %m - %d')}}</p>
                        <a class="btn btn-primary" href="{{url_for('event_posts.event_post', event_post_id=post.id)}}">Details</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        </div>
    </div>

    <nav aria-label="Page Navigation example">
        <ul class="pagination justify-content-center">
            {% for page_num in event_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if event_posts.page == page_num %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{ page_num }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}